/* static/src/input.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
}

a,
button,
input,
select,
textarea {
    @apply transition-all duration-200 ease-in-out;
}

a.active {
    @apply bg-primary text-white;
}

a.active:hover {
    @apply bg-primary;
}

a.inactive {
    @apply bg-white text-gray-900;
}

a.inactive:hover {
    @apply bg-gray-100;
}

a.red-statistics > svg {
    @apply text-calmaroi-red;
}

a.orange-statistics > svg {
    @apply text-calmaroi-orange;
}

a.green-statistics > svg {
    @apply text-calmaroi-green;
}

a.red-statistics.inactive {
    @apply bg-red-gradient;
}

a.orange-statistics.inactive {
    @apply bg-orange-gradient;
}

a.green-statistics.inactive {
    @apply bg-green-gradient;
}

.document {
    @apply flex items-center justify-between px-[15px] py-[11px] rounded-lg text-gray-500 transition-colors duration-200 ease-in-out;
}

.document:hover {
    @apply text-gray-900 bg-gray-100;
}

.document svg.check {
    @apply hidden;
}

.document.unchecked {
    @apply border-gray-200 border;
}

.document.checked {
    @apply border-calmaroi-green border-2;
}

.document.checked svg.check {
    @apply block;
}
