/* static/src/input.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
}

a,
button,
input,
select,
textarea {
    @apply transition-all duration-200 ease-in-out;
}

a.active {
    @apply bg-primary text-white;
}

a.active:hover {
    @apply bg-primary;
}

a.inactive {
    @apply bg-white text-gray-900;
}

a.inactive:hover {
    @apply bg-gray-100;
}

a.red-statistics > svg {
    @apply text-calmaroi-red;
}

a.orange-statistics > svg {
    @apply text-calmaroi-orange;
}

a.green-statistics > svg {
    @apply text-calmaroi-green;
}

a.red-statistics.inactive {
    @apply bg-red-gradient;
}

a.orange-statistics.inactive {
    @apply bg-orange-gradient;
}

a.green-statistics.inactive {
    @apply bg-green-gradient;
}