{% extends "app/base.html" %}
{% load static extra_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/output.css' %}">
{% endblock %}



{% block contentleft %}
<!-- stepper -->
<div class=" bg-white rounded-xl bg-transparent bg-opacity-30 h-auto w-auto my-5">

	<div class="bg-g m-7 ">


		<ol class="relative text-white border-s border-grey-200 dark:border-gray-700 dark:text-gray-400 space-y-16">
			<li class="mb-10 ms-6 flex items-center">
				<span
					class="absolute flex items-center justify-center w-8 h-8 bg-primary-500 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
					<svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
					  </svg>
				</span>
				<a href="{% url 'home' %}" class="font-medium leading-tight">Ausbildungsrichtung</a>
			</li>

			<li class="mb-10 ms-6 flex items-center">
				<span
					class="absolute flex items-center justify-center w-8 h-8 bg-primary-500 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
					<svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
					  </svg>
				</span>
				<a href="{% url 'persoenlicheinfos' %}" class="font-medium leading-tight flex">Persönliche Infos</a>
			</li>
			<li class="mb-10 ms-6 flex items-center">
				<span
					class="absolute flex items-center justify-center w-8 h-8 bg-gray-500  rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
					<svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
						viewBox="0 0 24 24">
						<path fill-rule="evenodd"
							d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7ZM8 16a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1-5a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
							clip-rule="evenodd" />
					</svg>
				</span>
				<a href="{% url 'bildungsweg' %}" class="font-medium leading-tight flex">Bildungsweg</a>
			</li>

			<li class="mb-10 ms-6 flex items-center">
				<span
					class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
					<svg class="w-4 h-4 text-gray-500 dark:text-white" aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
						viewBox="0 0 24 24">
						<path fill-rule="evenodd"
							d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 .087.586l2.977-7.937A1 1 0 0 1 6 10h12V9a2 2 0 0 0-2-2h-4.532l-1.9-2.28A2 2 0 0 0 8.032 4H4Zm2.693 8H6.5l-3 8H18l3-8H6.693Z"
							clip-rule="evenodd" />
					</svg>

				</span>
				<a href="{% url 'dokumente' %}" class="font-medium leading-tight flex">Dokumente</a>
			</li>
			<li class="mb-10 ms-6 flex items-center">
				<span
					class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
					<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
						<path
							d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z" />
					</svg>
				</span>
				<a href="#" class="font-medium leading-tight flex">Fragebogen</a>
			</li>
			<li class="mb-10 ms-6 flex items-center">
				<span
					class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
					<svg class="w-4.3 h-4.3 text-gray-500 dark:text-white" aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
						viewBox="0 0 24 24">
						<path fill-rule="evenodd"
							d="M11.644 3.066a1 1 0 0 1 .712 0l7 2.666A1 1 0 0 1 20 6.68a17.694 17.694 0 0 1-2.023 7.98 17.406 17.406 0 0 1-5.402 6.158 1 1 0 0 1-1.15 0 17.405 17.405 0 0 1-5.403-6.157A17.695 17.695 0 0 1 4 6.68a1 1 0 0 1 .644-.949l7-2.666Zm4.014 7.187a1 1 0 0 0-1.316-1.506l-3.296 2.884-.839-.838a1 1 0 0 0-1.414 1.414l1.5 1.5a1 1 0 0 0 1.366.046l4-3.5Z"
							clip-rule="evenodd" />
					</svg>

				</span>
				<a href="#" class="font-medium leading-tight flex">Datenschutz</a>
			</li>
			<li class="ms-6 flex items-center">
				<span
					class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
					<svg class="w-4.5 h-4.5 text-gray-500 dark:text-white" aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M5 11.917 9.724 16.5 19 7.5" />
					</svg>


				</span>
				<a href="#" class="font-medium leading-tight flex">Übersicht</a>
			</li>
		</ol>
	</div>
</div>
{% endblock %}


{% block contentright %}
  
<!-- titel -->
<div class="flex flex-wrap -mx-1 mb-4"> <h1 class="text-2xl font-bold mb-4">Gib deinen Bildungsweg an</h1> </div>

<!-- first 2 selctors -->
<div class="flex flex-wrap -mx-2 mb-4 border-b-2 pb-5 border-gray-200">
	<div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
		<label for="acquired-degree" class="block text-sm font-medium text-gray-700">Erworbener Schulabschluss</label>
		<select id="acquired-degree" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
			<option value="">Bitte auswählen</option>
			{%get_choices 'DegreeChoices' as degrees %}
			{% for item in degrees %}	
			<option value="{{ item.0 }}">{{ item.1 }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="w-full md:w-1/2 px-2">
		<label for="expected-degree" class="block text-sm font-medium text-gray-700">zu erwartender Schulabschluss</label>
		<select id="expected-degree" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
			<option value="">Bitte auswählen</option>
			{%get_choices 'DegreeChoices' as degrees %}
			{% for item in degrees %}	
			<option value="{{ item.0 }}">{{ item.1 }}</option>
			{% endfor %}
		</select>
	</div>
</div>
<!-- input felder div -->
<div class="border-b-2  border-gray-200">
	<h1 class="text-gray-500 text-m my-4">Bitte trage, soweit erhalten, folgende Noten deines letzten Zeugnisses ein</h1>
	<div class="flex flex-wrap -mx-2 mb-4 py-4">
		<div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
			<label for="german-grade" class="block text-sm font-medium text-gray-700">Note in Deutsch</label>
			<input type="text" id="german-grade" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
		</div>
		<div class="w-full md:w-1/2 px-2">
			<label for="biology-grade" class="block text-sm font-medium text-gray-700">Note in Biologie</label>
			<input type="text" id="biology-grade" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
		</div>
	</div>

	<div class="flex flex-wrap -mx-2 mb-4 pb-4">
		<div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
			<label for="math-grade" class="block text-sm font-medium text-gray-700">Note in Mathematik</label>
			<input type="text" id="math-grade" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
		</div>
		<div class="w-full md:w-1/2 px-2 ">
			<label for="chemistry-grade" class="block text-sm font-medium text-gray-700">Note in Chemie</label>
			<input type="text" id="chemistry-grade" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
		</div>
	</div>

	<div class="flex flex-wrap -mx-2 mb-4 pb-4">
		<div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
			<label for="physics-grade" class="block text-sm font-medium text-gray-700">Note in Physik</label>
			<input type="text" id="physics-grade" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
		</div>
		<div class="w-full md:w-1/2 px-2">
			<label for="english-grade" class="block text-sm font-medium text-gray-700">Note in Englisch</label>
			<input type="text" id="english-grade" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
		</div>
	</div>

	<div class="flex flex-wrap -mx-2 mb-4 pb-4">
		<div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
			<label for="country" class="block text-sm font-medium text-gray-700">Land</label>
			<select id="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
				<option value="">Bitte auswählen</option>
				{%get_choices 'CountryChoices' as countries %}
				{% for item in countries %}
				<option value="{{ item.0 }}">{{ item.1 }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="w-full md:w-1/2 px-2">
			<label for="state" class="block text-sm font-medium text-gray-700">Bundesland</label>
			<select id="state" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
				<option value="">Bitte auswählen</option>
				{%get_choices 'StateChoices' as states %}
				{% for item in states %}
				<option value="{{ item.0 }}">{{ item.1 }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>

<!-- Berufsausbildung -->

<div class="my-3">
    <h1 class="text-gray-500 text-m">Bitte füge hier deine Abschlüsse, beruflichen Erfahrungen, Praktika und außerschulische Engagements hinzu</h1>

    <div class="mb-4 py-3">
        <!-- Modal toggle -->
        <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-primary-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            + Berufsausbildung hinzufügen
        </button>

	

        <!-- Main modal -->
        <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Berufsausbildung hinzufügen
                        </h3>
                        <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 md:p-5">
                        <form class="space-y-4" id="education-form">
                            <input type="text" name="id" hidden>
                            <div>
                                <label for="education-form-abschluss" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Abschluss</label>
                                <select id="education-form-abschluss" name="abschluss" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="" disabled>Abschluss</option>
                                    {% get_choices 'DiplomaChoices' as diplomas %}
                                    {% for item in diplomas %}
                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="education-form-institution" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Institution</label>
                                <input type="text" id="education-form-institution" name="institution" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Institution">
                            </div>
                            <div>
                                <label for="education-form-zeitraum" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zeitraum</label>
                                <div date-rangepicker class="flex items-center">
                                    <div class="relative">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                            </svg>
                                        </div>
                                        <input  name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="von">
                                    </div>
                                    <span class="mx-4 text-gray-500">to</span>
                                    <div class="relative">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                            </svg>
                                        </div>
                                        <input name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="bis">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="add-berufsausbildung" class="w-full text-white bg-primary-500 hover:bg-primery-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">hinzufügen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->
    </div>
</div>

<div class="mb-4">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Abschluss</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Institution</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Zeitraum</th>
                <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Bearbeiten</span>
                </th>
            </tr>
        </thead>
        <tbody id="education-tbody" class="bg-white divide-y divide-gray-200">
            <!-- Dynamically added rows will appear here -->
        </tbody>
    </table>
</div>

  



{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'app/js/education.js' %}"></script>


{% endblock %}